<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Die Herde</h2>
      <p>
        Mit unseren derzeit 3 auf unserem Hof lebenden Alpakastuten haben wir
        2017 unseren Traum wahr gemacht. Mit ihren großen Kulleraugen und ihrer
        ruhigen Wesenart verzaubern sie die Menschen schon bei ihrem ersten
        Anblick.
      </p>
      <p>
        Alpakas sind eine aus den Anden stammende Kamelart, die vorwiegend wegen
        ihrer Wolle gezüchtet werden. Dies ist auch der Grund dafür, warum in
        Deutschland die Alpakas als landwirtschaftliche Nutztiere anerkannt
        sind.
      </p>
    </div>
  </div>
</aside>
