<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Die Herde</h2>
      <p>
        Im Jahre 2017 haben wir unseren Traum wahr gemacht Mit ihren großen
        Kulleraugen und ihrer ausgeglichenen ruhigen Wesensart verzaubern
        Alpakas die Menschen schon bei ihrem ersten Anblick. Genau wie uns….
      </p>
      <p>
        Unsere kleine Herde hat im Jahre 2017 mit 3 Stuten begonnen. Im
        vergangenen Jahr haben wir dann neue Mitbewohner bekommen. Zwei Wallache
        mit den Namen Maxi und Mori sind bei uns eingezogen. Normalerweise
        werden Hengste nicht gemeinsam mit Stuten auf einer Koppel gehalten.
        Dies ist nur möglich, wenn die Hengste kastriert sind. Diese werden dann
        Walllach genannt
      </p>
    </div>
  </div>
</aside>
