<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">
          Träumen auf der Märchenweide… die Alpakas im Hohen Fläming
        </h2>
        <hr class="light" />
        <p class="text-faded">
          Alpakas sind eine aus den Anden stammende Kamelart, die vorwiegend
          wegen ihrer Wolle gezüchtet werden. Dies ist auch der Grund dafür,
          warum in Deutschland die Alpakas als landwirtschaftliche Nutztiere
          anerkannt sind.
        </p>
        <p class="text-faded">
          Auf unseren Seiten berichten wir von und über unsere Herde.
        </p>
        <a href="#herde" class="btn btn-default btn-xl">Zu unseren Alpakas</a>
        <!-- <a href="./blog" class="btn btn-default btn-xl">Blog</a> -->
      </div>
    </div>
  </div>
</section>
