<section id="contact" class="bg-primary contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Meld dich bei uns!</h2>
                <hr class="primary">
                <p>Willst du mehr über uns und unsere Alpakas erfahren dann meld dich bei uns!</p>
            </div>
        <div class="col-lg-4 col-lg-offset-4 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p class="text-dark">{{ site.email }}</p>
            </a>
        </div>

    </div>
</section>
