<section class="no-padding" id="herde">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img src="../img/Tile-Ira.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Stute
              </div>
              <div class="project-name">
                Ira
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img src="../img/Tile-Jane.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Stute
              </div>
              <div class="project-name">
                Jane
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img src="../img/Tile-Max.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Wallach
              </div>
              <div class="project-name">
                Max
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img src="../img/Tile-Moritz.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Wallach
              </div>
              <div class="project-name">
                Moritz
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img src="../img/Tile-Vivian.jpg" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Stute
              </div>
              <div class="project-name">
                Vivien
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img
            src="../img/Placeholder-Alle-Zusammen.jpg"
            class="img-responsive"
            alt=""
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Unsere kleine Herde wird weiter wachsen. Hier sind sie alle
                zusammen zu sehen.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
