<section id="wolle">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Die Wolle</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <p>
        Als einziges Tier gibt es bei den Alpakas etwa 22 verschiedene natürliche Farbtöne. Teilweise sogar bis zu 60 Farbschattierungen in einer weichen widerstandsfähigen Faser.
      </p>
      <p>
        Ein weiterer Pluspunkt ist die hohe Produktqualität der Faser. Alpakas haben entwickeln ein feines und leichtes Vlies  damit sie hohen Temperaturschwankungen  widerstehen können. Dies wirkt wasserabweisend und sonnenressistent Es gibt keine andere Faser die solche Qualitätsmerkmale in dieser Kombination ausweisen kann.
    </p>
    <p>
  Bei den Neuweltkameliden fällt der geringe Fettanteil in der Faser auf. Die Weichheit der Faser wird durch die Zellstruktur der Faser ermöglicht.</p><p>
Die feinsten Fasern werden in der Regel bei jungen Tieren erzielt. Mit steigendem Alter nimmt der Faserdurchmesser deutlich zu. Unterschiede können an verschiedenen Körperregionen gewonnen werden. Die beste Qualität wird vom Blanket gewonnen.

      </p>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-3 col-md-6 text-center">
      <div class="service-box">
        <i class="fas fa-4x fa-shirt wow bounceIn text-primary"></i>
        <i class="fas  fa-4x  fa-socks  wow bounceIn text-primary"></i>
        <h3>Komfort</h3>
        <p class="text-muted">
         Kleidung aus Alpakafaser ist flauschig und weich.
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
      <div class="service-box">
        <i
          class="fa fa-4x fa-thermometer-full wow bounceIn text-primary"
          data-wow-delay=".1s"
        ></i>
        <h3>Wärme regulierend</h3>
        <p class="text-muted">
             Das Tragen von Alpakakleidung ist ganzjährig möglich. Im Winter speichert die Wolle die Wärme des eigenen Körpers und wärmt. Bei höhere Temperaturen leitet die Faser die Wärem ab und wirkt kühlend.
          
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i
            class="fa fa-4x fa-heart wow bounceIn text-primary"
            data-wow-delay=".3s"
          ></i>
          <h3>Geruchsmindernd</h3>
          <p class="text-muted">
            Schweißbildung und die damit verbundene Bakterienbildung wird mit Hilfe der Alpakafaser abgeführt. Die in den Fasern enthaltenen Eiweißmoleküle neutralisieren den Schweiß und somit die Gerüche.
          </p>
        </div>
      </div>
    <div class="col-lg-3 col-md-6 text-center">
      <div class="service-box">
        <i
          class="fa fa-4x fa-leaf wow bounceIn text-primary"
          data-wow-delay=".2s"
        ></i>
        <h3>Umweldfreundlich</h3>
        <p class="text-muted">Kleidung aus Alpakafasern ist langlebig. Durch die schmutzabweisende Eigenschaft der Fasern ist Waschen der Kleidung seltener nötig.</p>
      </div>
    </div>
    
  </div>
</section>
